<% if @sorted_matches.any? %>
  <p>
    We found <%= @sorted_matches.size %> matching
    <% if @sorted_matches.size == 1 %>
      primer:
    <% else %>
      primers. Results are ordered by size of the binding site.
    <% end %>
  </p>
  <p>Key: <code><span class="target">unbound-target-region</span> <span class="binding-site">binding-site</span> unbound-primer</code></p>
<% else %>
  <p>
    Couldn't match any of these primers. Sorry.
  </p>
<% end %>

<%= render @sorted_matches, target: @target %>
