<html>
  <head>
    <title>Primer Finder</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1><a href="/">Primer Finder</a></h1>
      </div>

      <%= yield %>
    </div>

    <footer>
      <p>
        PrimerFinder is free software, licensed under the <a href="https://gnu.org/licenses/gpl.html">GPLv3</a>.
        Code is <a href="https://github.com/hrs/primer-finder">available on GitHub</a>.
      </p>
    </footer>
  </body>
</html>
