<html>
  <head>
    <title>Primer Finder</title>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <h1><a href="/">Primer Finder</a></h1>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
