body {
  font-family: Helvetica, sans;
}

a {
  color: red;
}

#banner {
  text-align: center;
  margin-bottom: 40px;
}

#container {
  width: 700px;
  margin: 0 auto;
  overflow: auto;
}

.form-input {
  margin-bottom: 30px;
}

.csv {
  border-collapse: collapse;
  table-border: 1;
}

.csv, .csv th, .csv td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

.match-result {
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.match-result code {
  font-family: Consolas, Menlo, Courier, monospace;
}

.binding-site {
  color: red;
}

.target {
  color: blue;
}

footer {
  margin-top: 200px;
  padding: 5px;
  bottom: 0;
  font-size: 0.8em;
  background-color: #eee;
  color: #bbb;
}
