@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

$binding-site: #f00;
$container-background: #eee;
$footer-color: #bbb;
$footer-height: 50px;
$radius: 5px;
$width: 700px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.container {
  margin: 0 auto;
  overflow: auto;
  width: $width;
}

.banner h1 {
  font-size: 2em;
}

footer {
  background-color: $container-background;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  bottom: 0;
  color: $footer-color;
  font-size: 0.8em;
  height: $footer-height;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: $width;
}

.match-result {
  background-color: $container-background;
  border-radius: $radius;
  margin-bottom: 20px;
  padding: 20px;
}

.match-result code {
  font-family: Consolas, Menlo, Courier, monospace;
}

.binding-site {
  color: $binding-site;
}
